<div class="card d-flex flex-row align-items-center justify-content-center gap-3 px-3" style="width:25rem; height:7rem; overflow-x:scroll">
    <% (0..7).each do %>
        <%= image_tag 'user-pp.jpg', class: "img-thumbnail rounded-circle", style: "width: 3.5rem" %>
    <% end %>
</div>