<div class="d-flex flex-colum justify-content-center align-items-center">
    <%= image_tag 'user-pp.jpg', class: "img-thumbnail rounded-circle", style: "width: 3.5rem" %>
    <small>Username</small>
</div>