<%= render "layouts/flash_messages"%>
<div class='d-flex my-2 justify-content-center gap-5'>
    <div class="flex flex-column">
        <% @feeds.each do |p| %>
            <%= render 'posts/post', post: p %>
        <% end %>
    </div>
    <%= render 'layouts/suggestions/suggestions_list', suggestions: @suggestions %>
</div>

