<div class="d-flex justify-content-start align-items-center gap-1 mb-2">
    <i class="<%= post.likes.find_by(user: current_user) ? "fa-solid color-red" : "fa-regular" %> fa-heart fa-xl"></i>
</div>
<small class="fw-bold my-1">120 likes</small>