<div id="<%= dom_id post %>">

<div class="card" style="width: 18rem;">
<div class="card-header">
    <%= post.user.username %>
  </div>
  <% image_tag post.images.last, class: "card-img-top" %>
  <div class="card-body">
    <p class="card-text"><%= post.caption %></p>
  </div>
  <div class="card-footer">
    Featured
  </div>
</div>

</div>
