<div class="border" style="width: 20rem">
    <div class="d-flex flex-row justify-content-between">
        <p class="text-muted fw-bold">Suggestions For You</p>
        <%= link_to root_path, style:"text-decoration-none" do %>
            <small class="fw-bold text-dark">See All</small>
        <%  end %>
    </div>

    <div>
        <%= render 'suggestions/suggestion'%>
    </div>
</div>